<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Ciphers
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="/">Caesar</a></li>
                    <li><a class="dropdown-item" href="/vigenere.html">Vigenere</a></li>
                    <li><a class="dropdown-item" href="/playfair.html">Playfair</a></li>
                    <li><a class="dropdown-item" href="#">Transposition</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
